@use './header.scss';
@use './topslider.scss';
@use './scroll.scss';
@use './showDetails.scss';
@use './explore.scss';
@use './search.scss';
@use './footer.scss';

.inner-section {
  margin-top: 60px;
  background-color: black;
  min-height: 100vh;
}