@use './header.scss';
@use './topSlider.scss';
@use './slider.scss';
@use './showDetails.scss';
@use './explore.scss';
@use './search.scss';

.inner-section {
  margin-top: 60px;
  background-color: black;
  min-height: 100vh;
}