@use './mixin.scss' as *;

.explore-wrapper {
  padding: 20px;

  h1 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .shows-wrapper {
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);

    .show-card-wrapper {
      width: 100%;
    }

    @media (max-width:748px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 10px 0;
    }
  }

  .empty {
    min-height: 80vh;
  }

  .more-btn {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    background: #CB2957;
    font-size: 16px;
    font-weight: 600;

    @media (max-width:748px) {
      width: 100%;
    }
  }
}